<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <logger name="jdbc.sqlonly" level="INFO" additivity="false">
        <appender-ref ref="SQL_LOG"/>
    </logger>
    <!-- log4jdbc의 상세 메서드 호출 로그는 WARN 이상으로 올림 -->
    <logger name="jdbc.sqltiming" level="OFF" additivity="false" />
    <logger name="jdbc.resultset" level="OFF" additivity="false" />
    <logger name="jdbc.resultsettable" level="OFF" additivity="false" />
    <logger name="jdbc.audit" level="OFF" additivity="false" />
    <logger name="jdbc.connection" level="OFF" additivity="false" />
    <logger name="log4jdbc.debug" level="OFF" additivity="false" />
    <logger name="log4jdbc.resultset" level="OFF" additivity="false" />

    <appender name="SQL_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-5level [%logger] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="SQL_LOG"/>
    </root>
</configuration>