<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board_was.mapper.BoardMapper">

    <select id="findAll" resultType="com.example.board_was.model.Board">
        /* findAll */

        SELECT * FROM board_info
    </select>

    <select id="findGameAll" resultType="com.example.board_was.model.Board">
        /* findGameAll */

        SELECT * FROM board_info
        WHERE board_div_cd = "game"
    </select>

    <select id="findStreamingAll" resultType="com.example.board_was.model.Board">
        /* findStreamingAll */

        SELECT * FROM board_info
        WHERE board_div_cd = "streaming"
    </select>

    <select id="findPoliticsAll" resultType="com.example.board_was.model.Board">
        /* findPoliticsAll */

        SELECT * FROM board_info
        WHERE board_div_cd = "politics"
    </select>

    <select id="findSportsAll" resultType="com.example.board_was.model.Board">
        /* findSportsAll */

        SELECT * FROM board_info
        WHERE board_div_cd = "sports"
    </select>

    <update id="addReadCnt" parameterType="int">
        /* addReadCnt */

        UPDATE board_info
        SET board_read_cnt = board_read_cnt + 1
        WHERE board_id = #{boardId}
    </update>

    <insert id="createBoard" parameterType="Board">
        /* createBoard */

        INSERT INTO board_info (
        board_title,
        board_div_cd,
        board_text,
        crte_dtm,
        crte_user
        ) VALUES (
        #{board_title},
        #{board_div_cd},
        #{board_text},
        DATE_FORMAT(NOW(), '%Y%m%d%H%i%S'),
        #{crte_user}
        )
    </insert>

    <select id="getBoardDetail" resultType="Board" parameterType="int">
        /* getBoardDetail */

        SELECT *
        FROM board_info
        WHERE board_id = #{boardId}
    </select>

    <delete id="deleteBoard" parameterType="int">
        /* deleteBoard */

        DELETE FROM board_info
        WHERE board_id = #{boardId}
    </delete>

    <insert id="regComment" parameterType="Comment">
        /* regComment */

        INSERT INTO comment_info (
            board_id,
            content,
            user_nn,
            crte_dtm,
            parent_id,
            crte_user,
            comment_st_cd
        ) VALUES (
            #{board_id},
            #{content},
            #{user_nn},
            DATE_FORMAT(NOW(), '%Y%m%d%H%i%S'),
            #{parent_id},
            #{crte_user},
            #{comment_st_cd}
        )
    </insert>

    <select id="getCommentList" parameterType="int" resultType="Comment">
        /* getCommentList */

        SELECT *
        FROM comment_info
        WHERE board_id = #{boardId}
    </select>

    <delete id="deleteBoardComment" parameterType="int">
        /* deleteBoardComment */

        DELETE FROM comment_info
        WHERE board_id = #{boardId}
    </delete>

    <update id="deleteComment" parameterType="Comment">
        /* deleteComment */

        UPDATE comment_info
        SET comment_st_cd = 1
        WHERE comment_id = #{comment_id}
        AND crte_user = #{crte_user}
    </update>

</mapper>